@model SpadesGroceryShop.Models.Manager
@{
    ViewBag.Title = "LogIn";
}




<html>

<body>
    <center>
        <form action="" method="POST">
            <table>
                <tr>
                    <td align="center" style="padding:20px;">
                        <div class="card border-success mb3 dropshadow" style="height:350px;width:250px">
                            <div class="card-header">SignIn</div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td style="padding-bottom:10px;"><input class="form-control" type="email" name="Email" value="@(Model != null ? Model.Email : "")" placeholder="Email"><span id="err_signin_email" style="color:red;">@Html.ValidationMessage("Email", new { @class = "text-danger" })</span></td>
                                    </tr>

                                    <tr>
                                        <td style="padding-bottom:20px;"><input class="form-control" type="password" name="Password" value="@(Model != null ? Model.Password : "")" placeholder="Password"><span id="err_signin_pass" style="color:red;"> @Html.ValidationMessage("Password", new { @class = "text-danger" })</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label class="field-validatio-error"> @Html.DisplayFor(Model => Model.LoginErrorMessage)</label>
                                        </td>
                                    </tr>

                                </table>

                                <input class="btn btn-success" type="submit" name="login-button" value="SignIn">
                                <span id="err_signin_pass" style="color:red;">@TempData["Msg"]</span>
                            </div>
                        </div>
                    </td>

                </tr>
            </table>
        </form>
    </center>
</body>
</html>